form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.hidden {
  display: none;
}

/* section.players-dashboard {
  display: flex;
  flex-direction: row;
} */

tr {
  height: 20px;
}

th,
td {
  width: 50px;
}